/*-----------
 font poppins
 --------------- */


/*----------------
carousel-item part 
---------------------  */
.carousel-item img{ width: 1740px;
    height: 684px;}
   #font-color{
       color: rgb(241, 237, 1);
   }
   #font-three-color{
       color: yellow;
   }
  .item-text{
      display: flex;
      justify-content: center;
      margin-top: 100px;
      margin-bottom: 100px;
  }
  
  #Choose-plan{
     
      
  }